In [19]:
import csv
import pandas as pd
from civicpy import civic

# Normalized Queries

In [20]:
with open("./able_to_normalize_queries.csv", "r") as f:
    csv_reader = csv.reader(f, delimiter="\t")

    next(csv_reader)

    for row in csv_reader:
        print(row)
        break

['2489', 'NC_000003.11:g.10191648_10191649insC', 'genomic', 'True']

In [21]:
norm_quer_df = pd.read_csv("./able_to_normalize_queries.csv", sep= "\t")
norm_quer_df

,variant_id,query,query_type,variant_accepted
0,2489,NC_000003.11:g.10191648_10191649insC,genomic,True
1,1988,NC_000003.11:g.10191649A>T,genomic,True
2,2488,3-10191647-T-G,genomic,True
3,1986,NC_000003.11:g.10191648G>T,genomic,True
4,1987,NC_000003.11:g.10191649A>G,genomic,True
...,...,...,...,...
1853,3161,3-10183878-G-A,genomic,False
1854,877,NC_000020.11:g.58903752C>T,genomic,True
1855,731,NC_000003.11:g.37056036G>A,genomic,True
1856,3045,VHL p.F76del,protein,False
1857,3310,HDAC9 p.L33R,protein,False

In [22]:
civic_variant_ids = civic.get_all_variants()

In [23]:
n_variant_id_list = list(norm_quer_df["variant_id"])

In [24]:
norm_quer_df.variant_id.astype(int)

0       2489
1       1988
2       2488
3       1986
4       1987
        ...
1853    3161
1854     877
1855     731
1856    3045
1857    3310
Name: variant_id, Length: 1858, dtype: int64

In [25]:
n_e_ids = []
for v in n_variant_id_list:
    n_civic_e_ids = []
    for variant in civic_variant_ids: 
        # print(civic_id, type(civic_id))
        # print(   = =variant.gene_id, type(variant.gene_id))
        if int(v) == variant.id:
            for mp in variant.molecular_profiles:
                for e in mp.evidence_items:
                    if e.id not in n_civic_e_ids:
                        n_civic_e_ids.append(e.id)
            n_civic_e_ids = n_civic_e_ids or ""
    n_e_ids.append(n_civic_e_ids)
norm_quer_df["evidence_ids"] = n_e_ids
norm_quer_df

,variant_id,query,query_type,variant_accepted,evidence_ids
0,2489,NC_000003.11:g.10191648_10191649insC,genomic,True,"[9347, 6724]"
1,1988,NC_000003.11:g.10191649A>T,genomic,True,[5336]
2,2488,3-10191647-T-G,genomic,True,"[10779, 6723, 8258]"
3,1986,NC_000003.11:g.10191648G>T,genomic,True,[5334]
4,1987,NC_000003.11:g.10191649A>G,genomic,True,[5335]
...,...,...,...,...,...
1853,3161,3-10183878-G-A,genomic,False,[8659]
1854,877,NC_000020.11:g.58903752C>T,genomic,True,"[1997, 2892, 2893, 2895, 2896, 2897, 2898, 199..."
1855,731,NC_000003.11:g.37056036G>A,genomic,True,[1794]
1856,3045,VHL p.F76del,protein,False,[8240]
1857,3310,HDAC9 p.L33R,protein,False,[9240]

In [27]:
norm_quer_df = norm_quer_df.explode(column="evidence_ids")
norm_quer_df

,variant_id,query,query_type,variant_accepted,evidence_ids
0,2489,NC_000003.11:g.10191648_10191649insC,genomic,True,9347
0,2489,NC_000003.11:g.10191648_10191649insC,genomic,True,6724
1,1988,NC_000003.11:g.10191649A>T,genomic,True,5336
2,2488,3-10191647-T-G,genomic,True,10779
2,2488,3-10191647-T-G,genomic,True,6723
...,...,...,...,...,...
1854,877,NC_000020.11:g.58903752C>T,genomic,True,1996
1854,877,NC_000020.11:g.58903752C>T,genomic,True,1995
1855,731,NC_000003.11:g.37056036G>A,genomic,True,1794
1856,3045,VHL p.F76del,protein,False,8240
1857,3310,HDAC9 p.L33R,protein,False,9240

In [28]:
civic_evidence_ids = civic.get_all_evidence()

In [31]:
n_evidence_id_list = list(norm_quer_df["evidence_ids"])

In [32]:
n_e_status = []
n_e_rating = []
n_e_level = []
for e in n_evidence_id_list:
    n_civic_e_status = []
    n_civic_e_rating = []
    n_civic_e_level = []
    for evidence in civic_evidence_ids: 
        # print(civic_id, type(civic_id))
        # print(   = =variant.gene_id, type(variant.gene_id))
        if int(e) == evidence.id:
            if evidence.status not in n_civic_e_status:
                n_civic_e_status.append(evidence.status)
            n_civic_e_status = n_civic_e_status or ""
            if evidence.rating not in n_civic_e_rating:
                n_civic_e_rating.append(evidence.rating)
            n_civic_e_rating = n_civic_e_rating or ""
            if evidence.evidence_level not in n_civic_e_level:
                n_civic_e_level.append(evidence.evidence_level)
            n_civic_e_level = n_civic_e_level or ""
    n_e_status.append(n_civic_e_status)
    n_e_rating.append(n_civic_e_rating)
    n_e_level.append(n_civic_e_level)
norm_quer_df["evidence_status"] = n_e_status
norm_quer_df["evidence_rating"] = n_e_rating
norm_quer_df["evidence_level"] = n_e_level
norm_quer_df

,variant_id,query,query_type,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
0,2489,NC_000003.11:g.10191648_10191649insC,genomic,True,9347,[submitted],[3],[C]
0,2489,NC_000003.11:g.10191648_10191649insC,genomic,True,6724,[accepted],[2],[C]
1,1988,NC_000003.11:g.10191649A>T,genomic,True,5336,[accepted],[2],[C]
2,2488,3-10191647-T-G,genomic,True,10779,[submitted],[3],[C]
2,2488,3-10191647-T-G,genomic,True,6723,[accepted],[2],[C]
...,...,...,...,...,...,...,...,...
1854,877,NC_000020.11:g.58903752C>T,genomic,True,1996,[accepted],[3],[B]
1854,877,NC_000020.11:g.58903752C>T,genomic,True,1995,[accepted],[2],[B]
1855,731,NC_000003.11:g.37056036G>A,genomic,True,1794,[accepted],[1],[C]
1856,3045,VHL p.F76del,protein,False,8240,[submitted],[2],[C]
1857,3310,HDAC9 p.L33R,protein,False,9240,[submitted],[4],[D]

# Unable to Normalize Queries

In [ ]:
non_norm_quer_df = pd.read_csv("./unable_to_normalize_queries.csv", sep= "\t")
non_norm_quer_df

,variant_id,query,query_type,variant_accepted,exception_raised,message,warnings
0,748,MLH1 *757L,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati..."
1,3718,AR A748V,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
2,3725,AR A765T,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
3,248,TERT C228T,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati..."
4,4004,TERT C250T,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
...,...,...,...,...,...,...,...
58,3454,BRAF V599R,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
59,2825,BRAF V601E,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
60,3721,AR V757A,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
61,3722,AR V757I,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."
62,3724,AR Y763C,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati..."

In [33]:
nn_variant_id_list = list(non_norm_quer_df["variant_id"])

In [34]:
nn_e_ids = []
for v in nn_variant_id_list:
    nn_civic_e_ids = []
    for variant in civic_variant_ids: 
        if int(v) == variant.id:
            for mp in variant.molecular_profiles:
                for e in mp.evidence_items:
                    if e.id not in nn_civic_e_ids:
                        nn_civic_e_ids.append(e.id)
            nn_civic_e_ids = nn_civic_e_ids or ""
    nn_e_ids.append(nn_civic_e_ids)
non_norm_quer_df["evidence_ids"] = nn_e_ids
non_norm_quer_df

,variant_id,query,query_type,variant_accepted,exception_raised,message,warnings,evidence_ids
0,748,MLH1 *757L,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",[1812]
1,3718,AR A748V,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[10128]
2,3725,AR A765T,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[10135]
3,248,TERT C228T,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...","[655, 1646, 6934, 6935]"
4,4004,TERT C250T,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[10331]
...,...,...,...,...,...,...,...,...
58,3454,BRAF V599R,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[9571]
59,2825,BRAF V601E,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...","[7633, 7627]"
60,3721,AR V757A,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[10131]
61,3722,AR V757I,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[10132]
62,3724,AR Y763C,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",[10134]

In [35]:
non_norm_quer_df = non_norm_quer_df.explode(column="evidence_ids")
non_norm_quer_df

,variant_id,query,query_type,variant_accepted,exception_raised,message,warnings,evidence_ids
0,748,MLH1 *757L,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",1812
1,3718,AR A748V,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10128
2,3725,AR A765T,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10135
3,248,TERT C228T,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",655
3,248,TERT C228T,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",1646
...,...,...,...,...,...,...,...,...
59,2825,BRAF V601E,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",7633
59,2825,BRAF V601E,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",7627
60,3721,AR V757A,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10131
61,3722,AR V757I,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10132
62,3724,AR Y763C,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10134

In [36]:
nn_evidence_id_list = list(non_norm_quer_df["evidence_ids"])

In [37]:
nn_e_status = []
nn_e_rating = []
nn_e_level = []
for e in nn_evidence_id_list:
    nn_civic_e_status = []
    nn_civic_e_rating = []
    nn_civic_e_level = []
    for evidence in civic_evidence_ids: 
        # print(civic_id, type(civic_id))
        # print(   = =variant.gene_id, type(variant.gene_id))
        if int(e) == evidence.id:
            if evidence.status not in nn_civic_e_status:
                nn_civic_e_status.append(evidence.status)
            nn_civic_e_status = nn_civic_e_status or ""
            if evidence.rating not in nn_civic_e_rating:
                nn_civic_e_rating.append(evidence.rating)
            nn_civic_e_rating = nn_civic_e_rating or ""
            if evidence.evidence_level not in nn_civic_e_level:
                nn_civic_e_level.append(evidence.evidence_level)
            nn_civic_e_level = nn_civic_e_level or ""
    nn_e_status.append(nn_civic_e_status)
    nn_e_rating.append(nn_civic_e_rating)
    nn_e_level.append(nn_civic_e_level)
non_norm_quer_df["evidence_status"] = nn_e_status
non_norm_quer_df["evidence_rating"] = nn_e_rating
non_norm_quer_df["evidence_level"] = nn_e_level
non_norm_quer_df

,variant_id,query,query_type,variant_accepted,exception_raised,message,warnings,evidence_ids,evidence_status,evidence_rating,evidence_level
0,748,MLH1 *757L,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",1812,[accepted],[1],[C]
1,3718,AR A748V,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10128,[submitted],[3],[D]
2,3725,AR A765T,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10135,[submitted],[3],[D]
3,248,TERT C228T,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",655,[accepted],[5],[B]
3,248,TERT C228T,protein,True,False,unable to normalize,"[""Unable to find valid result for classificati...",1646,[accepted],[3],[B]
...,...,...,...,...,...,...,...,...,...,...,...
59,2825,BRAF V601E,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",7633,[submitted],[3],[B]
59,2825,BRAF V601E,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",7627,[submitted],[3],[C]
60,3721,AR V757A,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10131,[submitted],[3],[D]
61,3722,AR V757I,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10132,[submitted],[3],[D]
62,3724,AR Y763C,protein,False,False,unable to normalize,"[""Unable to find valid result for classificati...",10134,[submitted],[3],[D]

# Not Supported Variants

In [ ]:
non_supp_var_df = pd.read_csv("./not_supported_variants.csv", sep= "\t")
non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted
0,4417,ALK,FBXO11::ALK,Fusion,False
1,4188,VHL,10kb Deletion,Region Defined Variant,False
2,785,CHEK2,1100DELC,Protein Consequence,True
3,2438,VHL,235 (CAG-TAG),Other,False
4,4186,VHL,2kb Deletion,Region Defined Variant,False
...,...,...,...,...,...
1199,4008,VHL,t(3;6)(p13;q25.1),Rearrangements,False
1200,3351,VHL,t(3;8)(p13;q24.1),Rearrangements,False
1201,3478,ESR2,underexpression beta-1,Other,False
1202,3508,CD274,v242,Protein Consequence,False
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False

In [38]:
ns_variant_id_list = list(non_supp_var_df["variant_id"])

In [39]:
ns_e_ids = []
for v in ns_variant_id_list:
    ns_civic_e_ids = []
    for variant in civic_variant_ids: 
        # print(civic_id, type(civic_id))
        # print(   = =variant.gene_id, type(variant.gene_id))
        if int(v) == variant.id:
            for mp in variant.molecular_profiles:
                for e in mp.evidence_items:
                    if e.id not in ns_civic_e_ids:
                        ns_civic_e_ids.append(e.id)
            ns_civic_e_ids = ns_civic_e_ids or ""
    ns_e_ids.append(ns_civic_e_ids)
non_supp_var_df["evidence_ids"] = ns_e_ids
non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids
0,4417,ALK,FBXO11::ALK,Fusion,False,[7428]
1,4188,VHL,10kb Deletion,Region Defined Variant,False,[10678]
2,785,CHEK2,1100DELC,Protein Consequence,True,"[7235, 1849, 1850]"
3,2438,VHL,235 (CAG-TAG),Other,False,[6524]
4,4186,VHL,2kb Deletion,Region Defined Variant,False,"[10791, 10676]"
...,...,...,...,...,...,...
1199,4008,VHL,t(3;6)(p13;q25.1),Rearrangements,False,"[10357, 10350]"
1200,3351,VHL,t(3;8)(p13;q24.1),Rearrangements,False,[9340]
1201,3478,ESR2,underexpression beta-1,Other,False,"[9612, 9613, 9618, 9619]"
1202,3508,CD274,v242,Protein Consequence,False,[9695]
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,"[10692, 10717]"

In [40]:
non_supp_var_df = non_supp_var_df.explode(column="evidence_ids")
non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids
0,4417,ALK,FBXO11::ALK,Fusion,False,7428
1,4188,VHL,10kb Deletion,Region Defined Variant,False,10678
2,785,CHEK2,1100DELC,Protein Consequence,True,7235
2,785,CHEK2,1100DELC,Protein Consequence,True,1849
2,785,CHEK2,1100DELC,Protein Consequence,True,1850
...,...,...,...,...,...,...
1201,3478,ESR2,underexpression beta-1,Other,False,9618
1201,3478,ESR2,underexpression beta-1,Other,False,9619
1202,3508,CD274,v242,Protein Consequence,False,9695
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,10692
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,10717

In [41]:
ns_evidence_id_list = list(non_supp_var_df["evidence_ids"])

In [42]:
ns_e_status = []
ns_e_rating = []
ns_e_level = []
for e in ns_evidence_id_list:
    ns_civic_e_status = []
    ns_civic_e_rating = []
    ns_civic_e_level = []
    for evidence in civic_evidence_ids: 
        # print(civic_id, type(civic_id))
        # print(   = =variant.gene_id, type(variant.gene_id))
        if int(e) == evidence.id:
            if evidence.status not in ns_civic_e_status:
                ns_civic_e_status.append(evidence.status)
            ns_civic_e_status = ns_civic_e_status or ""
            if evidence.rating not in ns_civic_e_rating:
                ns_civic_e_rating.append(evidence.rating)
            ns_civic_e_rating = ns_civic_e_rating or ""
            if evidence.evidence_level not in ns_civic_e_level:
                ns_civic_e_level.append(evidence.evidence_level)
            ns_civic_e_level = ns_civic_e_level or ""
    ns_e_status.append(ns_civic_e_status)
    ns_e_rating.append(ns_civic_e_rating)
    ns_e_level.append(ns_civic_e_level)
non_supp_var_df["evidence_status"] = ns_e_status
non_supp_var_df["evidence_rating"] = ns_e_rating
non_supp_var_df["evidence_level"] = ns_e_level
non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
0,4417,ALK,FBXO11::ALK,Fusion,False,7428,[submitted],[3],[C]
1,4188,VHL,10kb Deletion,Region Defined Variant,False,10678,[submitted],[3],[C]
2,785,CHEK2,1100DELC,Protein Consequence,True,7235,[submitted],[4],[B]
2,785,CHEK2,1100DELC,Protein Consequence,True,1849,[rejected],[3],[B]
2,785,CHEK2,1100DELC,Protein Consequence,True,1850,[accepted],[3],[B]
...,...,...,...,...,...,...,...,...,...
1201,3478,ESR2,underexpression beta-1,Other,False,9618,[submitted],[4],[B]
1201,3478,ESR2,underexpression beta-1,Other,False,9619,[submitted],[4],[B]
1202,3508,CD274,v242,Protein Consequence,False,9695,[submitted],[4],[E]
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,10692,[submitted],[3],[C]
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,10717,[submitted],[3],[C]

In [43]:
expression_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Expression']
epigenetic_modification_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Epigenetic Modification']
fusion_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Fusion']
protein_consequence_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Protein Consequence']
gene_function_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Gene Function']
rearrangements_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Rearrangements']
copy_number_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Copy Number']
other_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Other']
genotypes_easy_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Genotypes Easy']
genotypes_compound_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Genotypes Compound']
region_defined_variant_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Region Defined Variant']
transcript_variant_non_supp_var_df = non_supp_var_df[non_supp_var_df.category == 'Transcript Variant']

In [44]:
expression_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
33,309,EGFR,AUTOCRINE ACTIVATION,Expression,False,769,[rejected],[2],[B]
33,309,EGFR,AUTOCRINE ACTIVATION,Expression,False,768,[rejected],[3],[D]
126,3385,CD44,CD44s,Expression,False,9426,[submitted],[4],[B]
127,341,CD44,CD44s Expression,Expression,True,825,[accepted],[3],[D]
128,3386,CD44,CD44v5 and CD44v6,Expression,False,9432,[submitted],[4],[B]
...,...,...,...,...,...,...,...,...,...
1183,272,CDKN2A,p16 Expression,Expression,True,753,[accepted],[3],[B]
1183,272,CDKN2A,p16 Expression,Expression,True,804,[accepted],[3],[B]
1183,272,CDKN2A,p16 Expression,Expression,True,1155,[accepted],[2],[B]
1183,272,CDKN2A,p16 Expression,Expression,True,1314,[accepted],[2],[B]
1183,272,CDKN2A,p16 Expression,Expression,True,4873,[submitted],[4],[D]

In [45]:
epigenetic_modification_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
613,538,MLH1,METHYLATION,Epigenetic Modification,True,1315,[accepted],[2],[B]
614,784,CDKN2B,METHYLATION,Epigenetic Modification,True,1848,[accepted],[4],[B]
908,387,EIF4EBP1,PHOSPHORYLATION,Epigenetic Modification,True,918,[accepted],[2],[D]
908,387,EIF4EBP1,PHOSPHORYLATION,Epigenetic Modification,True,932,[accepted],[2],[D]
909,395,RPS6,PHOSPHORYLATION,Epigenetic Modification,True,930,[accepted],[2],[D]
910,632,RB1,PHOSPHORYLATION,Epigenetic Modification,True,1609,[accepted],[3],[B]
919,22,CCND2,PROMOTER DEMETHYLATION,Epigenetic Modification,True,219,[accepted],[3],[D]
920,2254,DBI,PROMOTER DEMETHYLATION,Epigenetic Modification,False,6033,[rejected],[5],[B]
921,711,KLLN,PROMOTER METHYLATION,Epigenetic Modification,True,1761,[accepted],[3],[B]
921,711,KLLN,PROMOTER METHYLATION,Epigenetic Modification,True,1762,[accepted],[3],[B]
942,27,CDKN2A,Promoter Hypermethylation,Epigenetic Modification,True,367,[accepted],[3],[B]
942,27,CDKN2A,Promoter Hypermethylation,Epigenetic Modification,True,368,[accepted],[3],[B]
943,333,PTPRT,Promoter Hypermethylation,Epigenetic Modification,True,817,[accepted],[2],[D]
944,374,NAPRT,Promoter Hypermethylation,Epigenetic Modification,True,897,[accepted],[3],[D]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,307,[accepted],[5],[A]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,7303,[submitted],[3],[A]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,491,[accepted],[5],[B]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,172,[accepted],[4],[B]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,308,[accepted],[4],[B]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,490,[accepted],[4],[B]
945,85,MGMT,Promoter Methylation,Epigenetic Modification,True,309,[accepted],[4],[E]
1013,3257,AKT1,S473 Phosphorylation,Epigenetic Modification,True,4051,[accepted],[3],[B]
1050,385,PRKAA2,T172 PHOSPHORYLATION,Epigenetic Modification,True,913,[accepted],[2],[E]
1149,390,EGFR,Y1092 PHOSPHORYLATION,Epigenetic Modification,True,923,[accepted],[3],[B]

In [46]:
fusion_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
0,4417,ALK,FBXO11::ALK,Fusion,False,7428,[submitted],[3],[C]
18,780,GLI1,ACTB::GLI1,Fusion,True,1844,[accepted],[3],[B]
19,3702,NTRK2,AFAP1::NTRK2,Fusion,True,10098,[accepted],[3],[D]
20,2577,PDGFRB,AGGF1::PDGFRB C843G,Fusion,False,6999,[submitted],[3],[D]
21,285,BRAF,AGK::BRAF,Fusion,True,723,[accepted],[2],[C]
...,...,...,...,...,...,...,...,...,...
1161,466,FGFR1,ZNF198::FGFR1,Fusion,True,1104,[accepted],[4],[C]
1162,2864,JAK2,ZNF274::JAK2,Fusion,True,7706,[accepted],[3],[C]
1163,2977,JAK2,ZNF430::JAK2,Fusion,True,7999,[accepted],[3],[C]
1172,4406,EGFR,fusion,Fusion,False,11143,[submitted],[1],[C]
1172,4406,EGFR,fusion,Fusion,False,11169,[submitted],[1],[C]

In [47]:
protein_consequence_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
2,785,CHEK2,1100DELC,Protein Consequence,True,7235,[submitted],[4],[B]
2,785,CHEK2,1100DELC,Protein Consequence,True,1849,[rejected],[3],[B]
2,785,CHEK2,1100DELC,Protein Consequence,True,1850,[accepted],[3],[B]
12,2727,ERBB2,A129,Protein Consequence,False,7346,[rejected],[4],[D]
13,2729,TP53,A129,Protein Consequence,False,7348,[submitted],[4],[D]
...,...,...,...,...,...,...,...,...,...
1154,3055,FLT3,Y693,Protein Consequence,False,8285,[submitted],[3],[D]
1155,1672,EGFR,Y69FS*11,Protein Consequence,False,4808,[submitted],[None],[D]
1157,3410,TEK,Y897C and R915C,Protein Consequence,False,9476,[submitted],[2],[C]
1182,3057,GATA1,p.Ser51Alafs*86,Protein Consequence,False,8302,[submitted],[2],[C]
1202,3508,CD274,v242,Protein Consequence,False,9695,[submitted],[4],[E]

In [48]:
gene_function_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
34,1296,CTNNB1,Activating Mutation,Gene Function,True,2988,[accepted],[4],[D]
35,2649,KRAS,Activating Mutation,Gene Function,False,7180,[submitted],[3],[B]
35,2649,KRAS,Activating Mutation,Gene Function,False,7182,[submitted],[2],[D]
35,2649,KRAS,Activating Mutation,Gene Function,False,7184,[submitted],[1],[D]
36,2657,ERBB2,Activating Mutation,Gene Function,False,7201,[submitted],[3],[B]
...,...,...,...,...,...,...,...,...,...
1133,312,EGFR,VIII,Gene Function,True,773,[accepted],[2],[C]
1133,312,EGFR,VIII,Gene Function,True,8191,[submitted],[4],[D]
1133,312,EGFR,VIII,Gene Function,True,4500,[accepted],[3],[D]
1133,312,EGFR,VIII,Gene Function,True,8192,[submitted],[3],[D]
1133,312,EGFR,VIII,Gene Function,True,1017,[accepted],[1],[D]

In [49]:
rearrangements_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
10,2390,MAP2K1,56_61QKQKVG>R,Rearrangements,False,6384,[submitted],[3],[D]
40,709,BRCA1,Alu insertion,Rearrangements,True,1759,[accepted],[3],[C]
165,943,PDGFRA,D842_H845DELDIMH,Rearrangements,True,2460,[accepted],[2],[D]
196,3009,ABL1,Double Ph,Rearrangements,True,8093,[accepted],[4],[C]
207,1577,EGFR,E709_T710>D,Rearrangements,False,4663,[submitted],[None],[C]
...,...,...,...,...,...,...,...,...,...
1197,3524,MECOM,t(3;21)(q26.2;q22),Rearrangements,False,9719,[submitted],[2],[C]
1198,3264,VHL,t(3;6)(p12.3;q24.3),Rearrangements,False,9063,[submitted],[2],[C]
1199,4008,VHL,t(3;6)(p13;q25.1),Rearrangements,False,10357,[rejected],[3],[C]
1199,4008,VHL,t(3;6)(p13;q25.1),Rearrangements,False,10350,[rejected],[2],[C]
1200,3351,VHL,t(3;8)(p13;q24.1),Rearrangements,False,9340,[submitted],[3],[C]

In [50]:
copy_number_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
15,3195,VHL,A149fs (c.444dup),Copy Number,False,9982,[submitted],[3],[C]
15,3195,VHL,A149fs (c.444dup),Copy Number,False,8822,[submitted],[2],[C]
15,3195,VHL,A149fs (c.444dup),Copy Number,False,6156,[submitted],[1],[C]
16,2144,VHL,A56fs (c.166dup),Copy Number,True,5742,[accepted],[3],[C]
17,1579,EGFR,A767_V769dupASV,Copy Number,True,4665,[accepted],[None],[C]
...,...,...,...,...,...,...,...,...,...
1156,414,ERBB2,Y772_A775DUP,Copy Number,True,4428,[submitted],[None],[D]
1156,414,ERBB2,Y772_A775DUP,Copy Number,True,1046,[rejected],[4],[D]
1156,414,ERBB2,Y772_A775DUP,Copy Number,True,1047,[accepted],[4],[D]
1156,414,ERBB2,Y772_A775DUP,Copy Number,True,960,[accepted],[3],[D]
1181,2411,SDHB,p.193_196dupSTSC (c.577_588dupAGCACCAGCTGC),Copy Number,True,6442,[accepted],[2],[C]

In [51]:
other_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
3,2438,VHL,235 (CAG-TAG),Other,False,6524,[rejected],[3],[C]
9,265,TYMS,5' TANDEM REPEAT,Other,True,678,[accepted],[3],[B]
24,2211,BAP1,ALTERNATIVE TRANSCRIPT (ATI),Other,True,5929,[accepted],[3],[D]
25,842,BRAF,APC,Other,False,1941,[rejected],[3],[B]
27,3460,AR,AR alternative transcripts,Other,False,9578,[submitted],[4],[B]
...,...,...,...,...,...,...,...,...,...
1201,3478,ESR2,underexpression beta-1,Other,False,9613,[submitted],[4],[B]
1201,3478,ESR2,underexpression beta-1,Other,False,9618,[submitted],[4],[B]
1201,3478,ESR2,underexpression beta-1,Other,False,9619,[submitted],[4],[B]
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,10692,[submitted],[3],[C]
1203,2422,NTRK3,~DEPRECATED-ETV6-NTRK3,Other,False,10717,[submitted],[3],[C]

In [52]:
genotypes_easy_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
1083,729,UGT1A1,UGT1A1*28,Genotypes Easy,True,1792,[accepted],[5],[A]
1084,732,UGT1A1,UGT1A1*60,Genotypes Easy,True,1795,[accepted],[4],[B]
1141,426,BRAF,WILD TYPE,Genotypes Easy,True,995,[accepted],[2],[B]
1142,2366,PTEN,WILD TYPE,Genotypes Easy,False,6272,[rejected],[2],[D]
1143,2651,KIT,WILDTYPE,Genotypes Easy,True,4144,[accepted],[2],[B]
1145,369,TP53,Wildtype,Genotypes Easy,True,875,[accepted],[3],[B]
1145,369,TP53,Wildtype,Genotypes Easy,True,906,[accepted],[3],[B]
1145,369,TP53,Wildtype,Genotypes Easy,True,1149,[accepted],[3],[B]
1145,369,TP53,Wildtype,Genotypes Easy,True,2965,[accepted],[3],[B]
1145,369,TP53,Wildtype,Genotypes Easy,True,2963,[accepted],[4],[D]
1145,369,TP53,Wildtype,Genotypes Easy,True,2964,[accepted],[4],[D]
1146,2174,EGFR,Wildtype,Genotypes Easy,True,2512,[accepted],[4],[B]
1146,2174,EGFR,Wildtype,Genotypes Easy,True,6185,[rejected],[3],[B]
1147,2590,PIK3CA,Wildtype,Genotypes Easy,True,2038,[accepted],[3],[B]
1147,2590,PIK3CA,Wildtype,Genotypes Easy,True,7047,[submitted],[2],[B]
1148,3200,KRAS,Wildtype,Genotypes Easy,True,7052,[rejected],[5],[B]
1148,3200,KRAS,Wildtype,Genotypes Easy,True,11057,[submitted],[3],[B]
1148,3200,KRAS,Wildtype,Genotypes Easy,True,8840,[accepted],[2],[D]
1184,3512,BRAF,p61BRAF(V600E),Genotypes Easy,False,9703,[submitted],[2],[C]
1184,3512,BRAF,p61BRAF(V600E),Genotypes Easy,False,9702,[submitted],[4],[D]

In [53]:
genotypes_compound_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
149,821,HLA-C,COPY-NEUTRAL LOSS OF HETEROZYGOSITY,Genotypes Compound,True,1899,[accepted],[3],[C]
175,738,DPYD,DPYD*13 HOMOZYGOSITY,Genotypes Compound,True,1801,[accepted],[5],[A]
176,737,DPYD,DPYD*2A HOMOZYGOSITY,Genotypes Compound,True,1800,[accepted],[5],[A]
548,302,PTCH1,LOH,Genotypes Compound,True,749,[accepted],[2],[B]
918,3235,PRKAR1A,"PRKAR1A LOH, allelic imbalance 17q",Genotypes Compound,False,8936,[submitted],[3],[B]
1044,3108,VHL,Single Allele Deletion,Genotypes Compound,False,8499,[submitted],[3],[C]
1044,3108,VHL,Single Allele Deletion,Genotypes Compound,False,8580,[submitted],[3],[C]

In [54]:
region_defined_variant_non_supp_var_df

,variant_id,gene_name,variant_name,category,variant_accepted,evidence_ids,evidence_status,evidence_rating,evidence_level
1,4188,VHL,10kb Deletion,Region Defined Variant,False,10678,[submitted],[3],[C]
4,4186,VHL,2kb Deletion,Region Defined Variant,False,10791,[submitted],[3],[C]
4,4186,VHL,2kb Deletion,Region Defined Variant,False,10676,[submitted],[2],[C]
5,823,EPCAM,3' Exon Deletion,Region Defined Variant,True,1901,[accepted],[4],[B]
6,253,EGFR,3' UTR MUTATION,Region Defined Variant,False,663,[rejected],[4],[B]
...,...,...,...,...,...,...,...,...,...
1030,536,SULT1E1,SNP,Region Defined Variant,False,1312,[rejected],[2],[B]
1048,491,HSPH1,T17 DELETION,Region Defined Variant,True,1164,[accepted],[2],[B]
1169,2349,IL7R,exon 6 mutations,Region Defined Variant,False,6228,[submitted],[4],[C]
1178,2845,HOXD8,mutation,Region Defined Variant,False,7670,[submitted],[2],[C]
1179,4436,CHEK2,mutation,Region Defined Variant,True,11205,[accepted],[3],[A]

In [55]:
transcript_variant_non_supp_var_df

Empty DataFrame
Columns: [variant_id, gene_name, variant_name, category, variant_accepted, evidence_ids, evidence_status, evidence_rating, evidence_level]
Index: []